/**
    Created: 8/16/2024
    File: fonts.css
    Description: File to compile and configure all used font-families
**/

@font-face {
    font-family: oxygen;
    src: url("https://content.be-political.org/fonts/oxygen");
}

@font-face {
    font-family: poppins;
    src: url("https://content.be-political.org/fonts/poppins");
}

@font-face {
    font-family: poppins-bold;
    src: url("https://content.be-political.org/fonts/poppins-bold");
}

@font-face {
    font-family: poppins-light;
    src: url("https://content.be-political.org/fonts/poppins-light");
}

@font-face {
    font-family: edu-vic;
    src: url("https://content.be-political.org/fonts/edu-vic");
}

@font-face {
    font-family: grey-qo;
    src: url("https://content.be-political.org/fonts/grey-qo");
}

@font-face {
    font-family: merriweather;
    src: url("https://content.be-political.org/fonts/merriweather");
}

@font-face {
    font-family: montserrat;
    src: url("https://content.be-political.org/fonts/montserrat");
}

@font-face {
    font-family: noto-serif;
    src: url("https://content.be-political.org/fonts/noto-serif");
}

@font-face {
    font-family: playfair;
    src: url("https://content.be-political.org/fonts/playfair");
}

@font-face {
    font-family: roboto;
    src: url("https://content.be-political.org/fonts/roboto");
}

@font-face {
    font-family: roboto-condensed;
    src: url("https://content.be-political.org/fonts/roboto-condensed");
}

@font-face {
    font-family: roboto-mono;
    src: url("https://content.be-political.org/fonts/roboto-mono");
}